*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#main-container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 90%;
  max-width: 1200px;
  flex-wrap: wrap;
}

#message-container {
  border: 1px solid black;
  flex-grow: 1;
  overflow-y: auto;
}

#message-container div {
  background-color: #CCC;
  padding: 5px;
}

#message-container div:nth-child(2n) {
  background-color: #FFF;
}


#form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.7em 0;
  gap: 0.5em;
}


label,
button {
  flex-basis: 15%;

}

input {
  flex-basis: 60%;
}